<div class="container">
    {{#each articles}}
        <div class="row">
            <div class="col 10">
                <a href="{{cat ../news this.url}}"><h1>{{this.title}}</h1></a>
                <h2>{{this.byline}}</h2>
                <p>{{{this.text}}}</p>
            </div>
        </div>
    {{/each}}
</div>